
@{
    Layout = null;
}

<label for="example-input-normal" class="col-sm-4 control-label">订单号</label>
<div class="col-sm-3">
    <select class="selectpicker" data-live-search="true" data-live-search-placeholder="搜索" id="orderid1" name="orderid1" onchange="getOrderList();">
        <option value="2">33</option>
    </select>
       
</div>

