@{
    Layout = null;
}

<div class="form-group">
    <label for="example-input-normal" class="col-sm-4 control-label">单价</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="order_price" name="order_price" value="@ViewBag.order_price" readonly />

    </div>
</div>

<div class="form-group">
    <label for="example-input-normal" class="col-sm-4 control-label">金额</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="action_price" name="action_price" value="@ViewBag.action_price" readonly />
    </div>
</div>


