@{
    @model Model.SaleReturn;
    @using Model;
    @using BLL;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title></title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/sweetalert.css" />
    <link href="~/assets/fontAwesome/css/fontawesome-all.min.css" rel="stylesheet">
    <script type="text/javascript" src="~/assets/js/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        var TempArr = [];//存储option
        $(function () {
            $(".sidebar ul li:nth-of-type(5)").addClass("active open")
            $(".sidebar ul li:nth-of-type(5) ul li").removeClass()
            $(".sidebar ul li:nth-of-type(5) ul li:nth-of-type(2)").addClass("active")
            $('#submit').click(function () {
                var flag = 0;
                var deliver_index = $('#deliver_index').val()
                if (deliver_index ==null) {
                    swal("出货单号不能为空！", "", "error");
                }
                else
                {
                    var inputNum = document.getElementById('inputNum').value;
                    var return_index = document.getElementById('return_index').value;
                    var order_id = document.getElementById('order_id').value;
                    //var deliver_index = document.getElementById('deliver_index').value;
                    var deliver_index = $('#deliver_index').val()

                    var seq_idList = document.getElementsByName("seq_id");
                    var real_numList = document.getElementsByName("real_num");

                    var return_numList = document.getElementsByName("return_num");
                    var return_timeList = document.getElementsByName("return_time");
                    var return_priceList = document.getElementsByName("return_price");
                    var return_all_priceList = document.getElementsByName("return_all_price");

                    var seq_id = new Array();

                    var real_num = new Array();

                    var return_num = new Array();
                    var return_time = new Array();
                    var return_price = new Array();
                    var return_all_price = new Array();
                    for (var i = 0; i < real_numList.length; i++) {
                        seq_id.push(seq_idList[i].value);
                        real_num.push(real_numList[i].value);

                        return_num.push(return_numList[i].value);
                        return_time.push(return_timeList[i].value);
                        return_price.push(return_priceList[i].value);
                        return_all_price.push(return_all_priceList[i].value);
                        if (parseInt(return_numList[i].value) > parseInt(real_numList[i].value)) {
                            flag = 1;
                        }
                    }

                    var Seq_Id = seq_id.join(',');
                    var Return_Num = return_num.join(',');
                    var Return_Time = return_time.join(',');
                    var Return_Price = return_price.join(',');
                    var Return_All_Price = return_all_price.join(',');


                    if (flag == 1) {
                        swal("退货数量超过出货数量！", "", "error");
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            url: "/SaleReturn/EditHandle",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("XSRF-TOKEN",
                                    $('input:hidden[name="__RequestVerificationToken"]').val());
                            },
                            data: {
                                inputNum: inputNum, return_index: return_index, order_id: order_id, deliver_index: deliver_index,
                                Seq_Id: Seq_Id, Return_Num: Return_Num, Return_Time: Return_Time, Return_Price: Return_Price, Return_All_Price: Return_All_Price
                            },
                            success: function (msg) {
                                if (msg == "Success") {
                                    swal({ title: "执行成功!", text: "", type: "success" },
                                        function () { window.location.href = '/SaleReturn/Index'; });
                                    
                                }
                                else {
                                    swal("执行失败，请检查提交内容！", "", "error");
                                }
                            },
                            error: function (msg) {
                                swal("数据获取失败！", "", "error");
                            }
                        });
                    }
                }
            });
        });

        function getDeliverList() {
            var deliver_index = $('#deliver_index').val()
            if (deliver_index != 0) {
                $.ajax({
                    type: "POST",
                    url: "/SaleReturn/GetDeliverList",
                    data: { deliver_index: deliver_index },
                    success: function (msg) {
                        $('#deliver_div').html(msg);
                    },
                    error: function (msg) {
                        swal("获取出货单失败！","请重新操作！","error");
                    }
                });
            }
        }

        function SelectTip(flag) {
            var TxtObj = document.getElementById("txtPlace");
            var SelectObj = document.getElementById("deliver_index")
            var Arr = []
            with (SelectObj) {
                var SelectHTML = innerHTML.match(/<[^>]*>/)[0]
                for (i = 0; i < TempArr.length; i++)
                    if (TempArr[i][0].indexOf(TxtObj.value, 0) >= 0 || flag)//若找到以txt的内容开头的，添加option。若flag为true，对下拉框初始化
                        Arr[Arr.length] = "<option value='" + TempArr[i][1] + "'>" + TempArr[i][0] + "</option>"
                innerHTML = SelectHTML + Arr.join() + "</SELECT>"
            }
        }

        function Init() {
            var SelectObj = document.getElementById("deliver_index");
            /*先将数据存入数组*/
            with (SelectObj)
            for (i = 0; i < length; i++)
                TempArr[i] = [options[i].text, options[i].value];
        }

    </script>
</head>
<body onload="Init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">
                            <li><a href="/Supplier/Index">主页</a></li>
                            <li><a href="/SaleReturn/Index">销售退货开单</a></li>
                            <li class="active">
                                开单
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /# column -->
        </div><!-- /# row -->
        <div class="main-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card alert">
                        <div class="card-header">
                            <h4>
                                退货开单
                            </h4>
                        </div>

                        <div class="card-body">

                            <div class="basic-form">
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">退货单号</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="return_index" name="return_index" value="@ViewBag.return_index" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="example-input-normal" class="col-sm-4 control-label">出货单号</label>
                                        <div class="col-sm-4">
                                            @if (Model == null)
                                            {
                                                <input id="txtPlace" name="txtPlace" class="form-control" onkeyup="SelectTip(0)">
                                                <select class="form-control" id="deliver_index" name="deliver_index" onchange="getDeliverList();txtPlace.value=options[selectedIndex].text;" size=5>
                                                    <option value=""></option>
                                                    @{
                                                        SaleManager SM = new SaleManager();
                                                        List<Sale> objList = SM.SelectForReturnIndex();
                                                        if (objList.Count > 0)
                                                        {
                                                            for (int i = 0; i < objList.Count; i++)
                                                            {
                                                                <!option value="@objList[i].deliver_index">@objList[i].deliver_index</!option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="deliver_index" name="deliver_index" value="@if (Model!=null) {@Model.deliver_index } " readonly />
                                                <input type="hidden" class="form-control" id="id" name="id" value="@if (Model!=null) {@Model.id } " readonly />
                                            }

                                        </div>
                                    </div>

                                    <div class="form-horizontal" id="deliver_div">

                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-5">
                                            <input type="button" id="submit" name="submit" class="btn btn-primary" style=" width:12%" value="提交" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- /# card -->
                </div><!-- /# column -->
            </div><!-- /# row -->
        </div>
    </div><!-- /# container-fluid -->


</body>
</html>


