@{
    Layout = null;
}
<div class="form-group">
    <label for="example-input-normal" class="col-sm-4 control-label">总价</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" style="width:220px" id="material_all_price" name="material_all_price" value="@ViewBag.material_all_price" readonly/>
    </div>
</div>

