
@{
    ViewData["Title"] = "Test";
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        $(function () {
            $("#btn_add").click(function () {
                $("#myModalLabel").text("新增");
                $('#myModal').modal();
            });
        });
    </script>
</head>
<body>

    <button id="btn_add">点击</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-responsive table-hover">//先将勾选提交的东西给ajax，以ViewBag传给@*<div id="ll"></div>*@，然后点击提交后再传给另一个ajax
                        <thead>
                            <tr>
                               <td>
                                   haha
                               </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    lala
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="txt_departmentname">部门名称</label>
                        <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="部门名称">
                    </div>
                    <div class="form-group">
                        <label for="txt_parentdepartment">上级部门</label>
                        <input type="text" name="txt_parentdepartment" class="form-control" id="txt_parentdepartment" placeholder="上级部门">
                    </div>
                    <div class="form-group">
                        <label for="txt_departmentlevel">部门级别</label>
                        <input type="text" name="txt_departmentlevel" class="form-control" id="txt_departmentlevel" placeholder="部门级别">
                    </div>
                    <div class="form-group">
                        <label for="txt_statu">描述</label>
                        <input type="text" name="txt_statu" class="form-control" id="txt_statu" placeholder="状态">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
